// text
$primary-color: #fff;
$secondary-color: #000;
$tertiary-color: #fe7606;

// theme-colors

$primary-background: #f1c50e;
$secondary-background: #fe7606;
$light-background: #fff;
$dark-background: #000;
$transparent-dark-background: #000000c0;
$transparent-ligther-background: #00000050;

// font-size

$primary-font: 6rem;
