.hero-section {
    background-image: url("../pictures/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;

    .filter {
        background-color: #00000087;
    }
}

.link {
    width: fit-content;
    transition: all .3s ease;

    &:hover {
        transform: scale(1.05);
    }
}

.people-section img {
    width: 280px;
}

@media screen and (max-width: 400px) {
    img { 
        width: 270px !important;
    }
}